

body{
margin-left: 0px;
margin-right: 0px;	
}

h1 {
	margin-top: 3%;
	font-family: "Lucida Bright";
	text-align: center;
	color: #AA80FF;
}

h2 {
	font-family:"Lucinda Bright";
	text-align: center;
	color: #BB99FF;

}


p {
	font-family: "Lucida Bright";
	text-align: center;
	font-size: 20px ;

}

#pic{
	background-color: #CCB3FF;
	border-bottom: 4px dotted #FFFFFF;
	border-top: 4px dotted #FFFFFF;
	text-align:center;

}

#bio{
font-family: Georgia;
text-align: center;
margin-left: 8%;
margin-right: 8%;
font-size: 18px;
}
